<article class="{{post_class}} u-shadow"{{#if primary_tag.accent_color}} style="--tag-color: {{primary_tag.accent_color}};"{{/if}}>
<a class="post-link" href="{{url}}">
    {{#if feature_image}}
        {{#if featured}}
            <img
                class="post-image u-object-fit"
                src="{{img_url feature_image}}"
                alt="{{title}}"
                loading="lazy"
            >
        {{else}}
        <figure class="post-media">
            <div class="u-placeholder same-height rectangle">
                <img
                    class="post-image u-object-fit"
                    srcset="{{img_url feature_image size="s"}} 400w,
                            {{img_url feature_image size="m"}} 750w,
                            {{img_url feature_image size="l"}} 960w,
                            {{img_url feature_image size="xl"}} 1140w,
                            {{img_url feature_image size="xxl"}} 1920w"
                    sizes="600px"
                    src="{{img_url feature_image size="l"}}"
                    alt="{{title}}"
                    loading="lazy"
                >
            </div>
        </figure>
        {{/if}}
    {{/if}}

    <div class="post-wrapper">
        <header class="post-header">
            <div class="post-top">
                {{#primary_tag}}
                <span class="post-tag">{{name}}</span>
                {{/primary_tag}}
                <time class="post-date" id="post-date-{{id}}">
                    {{date published_at format="YYYY-MM-DDTHH:mm:ss.SSSZ"}}
                </time>
            </div>
            
            <h2 class="post-title">
                {{title}}
            </h2>
        </header>

        {{#if excerpt}}
            <div class="post-excerpt">
                {{excerpt words="15"}} ...
            </div>
        {{/if}}
    </div>

    <footer class="post-footer">
        <span class="post-more">Read More</span>

        <div class="post-author">
            {{#foreach authors}}
                {{#if profile_image}}
                    <span class="post-author-link">
                        <img class="post-author-image" src="{{img_url profile_image size="xs"}}" alt="{{name}}" loading="lazy">
                    </span>
                {{/if}}
            {{/foreach}}
        </div>
    </footer>
</a>
</article>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var posts = document.querySelectorAll('[id^="post-date-"]');
        for (var i = 0; i < posts.length; i++) {
            var dateElement = posts[i];
            var dateText = dateElement.innerText;
            var datePost = new Date(dateText);
            var diff = Date.now() - datePost.getTime();
            var hours = Math.floor(diff / (1000 * 60 * 60));
            var minutes = Math.floor(diff / (1000 * 60));
            console.log(minutes)
            if (hours > 24) {
                dateElement.innerText = datePost.toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' });
            } else if (minutes > 60) {
                dateElement.innerText = hours + (hours == 1 ? ' hr ago' : ' hrs ago');
            } else if (minutes < 61) {
                dateElement.innerText = minutes + ' mins ago';
            }
        }
    });
</script>