{{!< default}}

<main class="site-main">

    {{#post}}
        {{#get "tags" filter="course" as |courseTag|}}
            {{#if courseTag}}
                {{> "course-post"}}
            {{else}}
                    <article class="gh-article {{post_class}}">

                        <header class="gh-article-header gh-canvas">
                            <span class="gh-article-meta"{{#if primary_tag.accent_color}} style="--tag-color: {{primary_tag.accent_color}};"{{/if}}>
                                {{#primary_author}}By <a href="{{url}}">{{name}}</a>{{/primary_author}}
                                {{#if primary_tag}}
                                    in
                                    <a class="gh-article-tag" href="{{primary_tag.url}}">{{primary_tag.name}}</a>
                                {{/if}}
                                —
                                <span id="current-post-date">{{updated_at}}</span>
                            </span>

                            <script>
                                // Displays the date in different formats depending on the time passed since the post was published
                                var date = document.getElementById('current-post-date');
                                var dateText = date?.innerText;
                                var dateNow = new Date();
                                var datePost = dateText ? new Date(dateText) : new Date();
                                var diff = dateNow.getTime() - datePost.getTime(); 
                                var hours = Math.floor(diff / (1000 * 60 * 60));
                                var minutes = Math.floor(diff / (1000 * 60));
                                if (hours > 24) {
                                    date.innerHTML = "{{date updated_at format="MMM DD, YYYY"}}";
                            </script>
                        </header>

                        <div class="gh-content gh-canvas">
                            {{content}}
                        </div>

                    </article>
            {{/if}}
        {{/get}}
    {{/post}}

</main>